In [2]:
import numpy as np
import pandas as pd

In [3]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}

In [4]:
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}

In [5]:
one = pd.DataFrame(data_one)

In [6]:
two = pd.DataFrame(data_two)

In [7]:
frames = [one, two]

In [8]:
frames

[    A   B
 0  A0  B0
 1  A1  B1
 2  A2  B2
 3  A3  B3,
     C   D
 0  C0  D0
 1  C1  D1
 2  C2  D2
 3  C3  D3]

In [14]:
result = pd.concat(frames, axis=0)

In [15]:
result

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

In [11]:
pd.concat([one, two], axis=1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [16]:
two.columns = one.columns

In [17]:
two

    A   B
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [20]:
mydf = pd.concat([one,two], axis=0)

In [21]:
mydf.index = range(len(mydf))

In [22]:
mydf

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3

In [23]:
pd.concat([one, two], axis=0).reset_index()

   index   A   B
0      0  A0  B0
1      1  A1  B1
2      2  A2  B2
3      3  A3  B3
4      0  C0  D0
5      1  C1  D1
6      2  C2  D2
7      3  C3  D3

In [24]:
pd.concat([one, two], axis=0, ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3