In [4]:
import numpy as np
import pandas as pd

In [1]:
pwd

'c:\\Проекты\\python\\ML_course\\pandas'

In [2]:
ls

 ��� � ���ன�⢥ C ����� ���� Windows
 ��਩�� ����� ⮬�: A21B-CF9C

 ����ন��� ����� c:\�஥���\python\ML_course\pandas

08.08.2024  11:01    <DIR>          .
08.08.2024  11:01    <DIR>          ..
19.07.2024  11:06            78�345 apply.ipynb
31.07.2024  09:26            16�710 concatenate.ipynb
16.07.2024  15:06           387�962 dataframe.ipynb
18.07.2024  09:54            61�206 dataframe_condition.ipynb
07.08.2024  13:02            32�930 date_time.ipynb
29.07.2024  14:33           231�371 groupby.ipynb
01.08.2024  21:22            29�847 imerge.ipynb
08.08.2024  11:10               902 input_output.ipynb
25.07.2024  10:46            56�686 methods_for_NAN.ipynb
10.07.2024  11:39           662�020 series.ipynb
25.07.2024  10:20           108�984 statistic_sorting.ipynb
05.08.2024  12:10             9�375 text_methond.ipynb
              12 䠩���      1�676�338 ����
               2 �����  265�501�949�952 ���� ᢮�����

In [7]:
df = pd.read_csv('C:\\Проекты\\1. Машинное обучение\\UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7\\03-Pandas\\example.csv', header = None)

In [8]:
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [13]:
df = pd.read_csv('C:\\Проекты\\1. Машинное обучение\\UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7\\03-Pandas\\example.csv')

In [10]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [17]:
df.to_csv('C:\\Проекты\\1. Машинное обучение\\UNZIP_ME_FOR_NOTEBOOKS_ML_RUS_V7\\03-Pandas\\newfile5.csv')